<div class="bg"></div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/allemployee">All Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/paris">Paris</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/london">London</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rome">Rome</a>
  </li>
</ul>
<h1>Employee Info</h1>
<section class="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</section>
  

